<form action="/users?_method=POST" method="POST">

    <div class="input-field col s12">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName">
    </div>
    <div class="input-field col s12">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName">
    </div>
    <div class="input-field col s12">
        <label for="email">Email:</label>
        <input type="text" name="email">
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Add User</button>
</form>
<br>