<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Page Title</title>
    <meta name="description" content="Write some words to describe your html page">
</head>

<body>
    <table border="1px">
        <tr>
            <td>HEADER</td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><a href="/users">View Users</a></li>
                    <li><a href="/users/add">Add Users</a></li>
                </ul>
            </td>
            <td>
                {{body}}
            </td>
        </tr>
        <tr>
            <td>Footer</td>
        </tr>
    </table>
</body>

</html>